* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.calculator-container {
    width: 373px;
    margin: 20px;
    font-size: 20px;
    background-color: #072630;
    border-radius: 3px;
    border: solid 1px black;
}

.display-text {
    height: 65px;
    color:white;
    padding: 10px;
    background-color: #073b4c;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    border-top: solid 1px black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button-container button {
    height: 45px;
    width: 65px;
    font-weight: bold;
    font-size: 16px;
    color:white;
    border: solid 1px black;
    border-radius: 3px;
    background-color: #073b4c;
}

#delete,
#clear {
    background-color: #ef476f;
    border: 0;
}

#equals {
    background-color: #06d6a0;
    border: 0;
}

.button-spacer {
    height: 45px;
    width: 65px;
}